autobazar_screpper.egg-info/dependency_links.txt
autobazar_screpper.egg-info/entry_points.txt
autobazar_screpper.egg-info/PKG-INFO
autobazar_screpper.egg-info/requires.txt
autobazar_screpper.egg-info/SOURCES.txt
autobazar_screpper.egg-info/top_level.txt
dist/autobazar_screpper-0.1-py3.10.egg
